.socialLink {
    padding: 10px;
}

.socialLink img {
    filter: invert(100%);
}

.actionButton img {
    filter: invert(66%) sepia(62%) saturate(6098%) hue-rotate(330deg) brightness(96%) contrast(95%);
}