:root {
    --section-bg-color: rgb(17, 17, 17);
    --banner-bg-color: #242424;
}

.projectsView {
    display: block;
    padding-bottom: 40px;
}

.projectSection {
    width: 100%;
    background-color: var(--section-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 799px) {
    .sectionText p {
        display: none;
    }
}

@media (min-width: 800px) {
    .projectsView {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: calc(50%); /* Two columns */
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: calc(33.33); /* Three columns */
        flex: 1;
    }
}