@font-face {
    font-family: 'Infinitrivia-Regular';
    src: url("./Infinitrivia-Regular.ttf");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'soupasaurus';
    src: url('soupasaurus-regular-webfont.woff2') format('woff2'),
         url('soupasaurus-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}