.project {
    position: relative;
    background-color: #242424;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 30px 25px 0px 25px;
    padding: 40px;
    font-size: small;
    max-width: 100%;
}

@media (max-width: 800px) {
    .project {
        max-width: 90%;
    }
}

h1, h2{
    margin: 10px 0px 10px 0px;
}

.project h1 {
    font-size: 35px;
}

h2 {
    font-style: italic;
    font-weight: lighter;
}

.metadata {
    margin-top: 20px;
}

p > span {
    font-weight: bolder;
}

.socials {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.skills {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.imgContainer {
    margin: 10px;
}

/* Hover banner */
.imgContainer span {
    min-width: 80%;
    font-size: 0px;
    padding: 5px;
    font-size: smaller;
    font-style: italic;
    color: gray;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.hoverGif {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.projectImg {
    min-width: 98%;
    border-radius: 20px;
    border: 3px solid white;
}

.tagItem {
    background-color: rgb(74, 74, 74);
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
}

.favorite {
    position: absolute;
    left: 10px;
    top: 10px;

    background-color: rgb(255, 225, 0);
    padding: 5px 10px;
    border-radius: 20px;

    display: flex;
    gap: 5px;
}

.favorite span {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.favorite img {
    fill: white;
    width: 18px;
}
