.socialsView {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
}

/* .projectsView {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 50px
} */