.appView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    width: 50%;
    flex-shrink: 1;
}

.socialsView {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
}

.projectsView {
    display: block;
    background-color: rgb(17, 17, 17);
}

@media (min-width: 800px) {
    .projectsView {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: calc(50%); /* Two columns */
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: calc(33.33); /* Three columns */
        flex: 1;
    }
}

.appView > h1 {
    font-size: 100px;
}

h2 {
    font-style: italic;
    font-weight: lighter;
}
